In [16]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import os
import time

In [29]:
providers_1 = pd.read_csv("data/providers_1.csv")
providers_2 = pd.read_csv("data/providers_2.csv")

payments_1 = pd.read_csv("data/payments_1.csv")
payments_2 = pd.read_csv("data/payments_2.csv")

payments_1.drop(columns=["cardToken", "payment"], inplace=True)
payments_2.drop(columns=["cardToken", "payment"], inplace=True)


providers_1

,TIME,ID,CONVERSION,AVG_TIME,MIN_SUM,MAX_SUM,LIMIT_MIN,LIMIT_MAX,LIMIT_BY_CARD,COMMISSION,CURRENCY
0,2024-11-24 21:00:00,0,0.50,18.0,700.0,5500.0,61000.0,12900000.0,-,0.035,UZS
1,2024-11-24 21:00:00,1,0.65,8.0,900.0,9000.0,21000.0,18000000.0,-,0.035,UZS
2,2024-11-24 21:00:00,2,0.50,18.0,400.0,8500.0,51000.0,13400000.0,-,0.030,RUB
3,2024-11-24 21:00:00,3,0.50,16.0,900.0,6000.0,61000.0,19800000.0,-,0.045,RUB
4,2024-11-24 21:00:00,4,0.70,26.0,300.0,6500.0,81000.0,23600000.0,-,0.050,RUB
...,...,...,...,...,...,...,...,...,...,...,...
506,2024-11-25 21:00:00,29,0.50,8.0,200.0,8500.0,41000.0,18200000.0,-,0.035,USD
507,2024-11-25 21:00:00,32,0.50,20.0,800.0,9500.0,1000.0,9800000.0,-,0.035,USD
508,2024-11-25 21:00:00,36,0.50,14.0,300.0,6000.0,21000.0,9900000.0,-,0.050,GHS
509,2024-11-25 21:00:00,38,0.50,24.0,800.0,4500.0,21000.0,32700000.0,-,0.035,GHS
510,2024-11-25 21:00:00,44,0.75,12.0,800.0,8500.0,11000.0,36200000.0,-,0.040,PEN

In [30]:
def set_constant_limits_by_id(df):
    """
    Ensures LIMIT_MIN and LIMIT_MAX remain constant for each unique ID.
    The values are taken from the first occurrence of each ID.

    Parameters:
    df (pd.DataFrame): DataFrame containing LIMIT_MIN, LIMIT_MAX, and ID columns.

    Returns:
    pd.DataFrame: Updated DataFrame with constant LIMIT_MIN and LIMIT_MAX per ID.
    """
    # Group by ID and retrieve the first LIMIT_MIN and LIMIT_MAX for each ID
    limits_by_id = df.groupby('ID').first()[['LIMIT_MIN', 'LIMIT_MAX']]

    # Map the constant LIMIT_MIN and LIMIT_MAX values back to the DataFrame
    df['LIMIT_MIN'] = df['ID'].map(limits_by_id['LIMIT_MIN'])
    df['LIMIT_MAX'] = df['ID'].map(limits_by_id['LIMIT_MAX'])

    return df

In [33]:
adjusted_provider_1 = set_constant_limits_by_id(providers_1)

adjusted_provider_1[adjusted_provider_1["ID"] == 3]

,TIME,ID,CONVERSION,AVG_TIME,MIN_SUM,MAX_SUM,LIMIT_MIN,LIMIT_MAX,LIMIT_BY_CARD,COMMISSION,CURRENCY
3,2024-11-24 21:00:00,3,0.50,16.0,900.0,6000.0,61000.0,19800000.0,-,0.045,RUB
145,2024-11-25 03:00:00,3,0.60,24.0,800.0,5500.0,61000.0,19800000.0,-,0.027,RUB
161,2024-11-25 04:00:00,3,0.75,10.0,800.0,6000.0,61000.0,19800000.0,-,0.045,RUB
224,2024-11-25 07:00:00,3,0.70,12.0,700.0,8000.0,61000.0,19800000.0,-,0.050,RUB
265,2024-11-25 09:00:00,3,0.60,18.0,200.0,3000.0,61000.0,19800000.0,-,0.030,RUB
343,2024-11-25 13:00:00,3,0.50,10.0,200.0,8500.0,61000.0,19800000.0,-,0.040,RUB
345,2024-11-25 13:00:00,3,0.65,24.0,600.0,6000.0,61000.0,19800000.0,-,0.015,RUB
361,2024-11-25 14:00:00,3,0.60,28.0,200.0,3500.0,61000.0,19800000.0,-,0.027,RUB
399,2024-11-25 16:00:00,3,0.55,10.0,900.0,4500.0,61000.0,19800000.0,-,0.015,RUB
400,2024-11-25 16:00:00,3,0.65,20.0,100.0,6000.0,61000.0,19800000.0,-,0.027,RUB
440,2024-11-25 18:00:00,3,0.60,22.0,200.0,9500.0,61000.0,19800000.0,-,0.015,RUB
476,2024-11-25 20:00:00,3,0.65,24.0,700.0,9500.0,61000.0,19800000.0,-,0.030,RUB

In [ ]:
class Algorythm:
    def __init__(self, providers, payments):
        self.payments = payments
        self.providers = providers
        
    def apply_changes(self):
        pass
        
    def run(self):
        pass