In [1]:
import pandas as pd
from requests import delete

In [29]:
df_payments = pd.DataFrame()
df_providers = pd.DataFrame()
df_ex_rates = pd.read_csv('data/ex_rates.csv')

for i in range(1, 3):
    payments_data = pd.read_csv(f'data/payments_{i}.csv')
    providers_data = pd.read_csv(f'data/providers_{i}.csv')
    
    df_payments = pd.concat([df_payments, payments_data], ignore_index=True)
    df_providers = pd.concat([df_providers, providers_data], ignore_index=True)

df_providers.drop(['LIMIT_BY_CARD'], axis=1, inplace=True)

In [34]:
df_payments

,eventTimeRes,amount,cur,payment,cardToken
0,2024-11-25 20:59:59,90000.00,UZS,7d1476c9f1eedcd4a2083cc399ec1c1b,7ba0e52864c29fe2fcc1977be1ffc8d5
1,2024-11-25 20:59:58,2700.00,RUB,6eb49e22afdd28083ff82cdff8068880,774d551c9fff62fbac6c4ef424af0446
2,2024-11-25 20:59:58,2000.00,RUB,0e2705d1083b67f2c5ea12de3b7ab182,a3481a01b54d0c96dd44200389888bc6
3,2024-11-25 20:59:58,27.27,AZN,c30b3850e85454145bcb0dda3d209d88,61e3567ab56a79911fb7bcc0cc13db64
4,2024-11-25 20:59:58,8.00,AZN,4af690ba4eebb6d4782d9a3051dc58d2,373e0a66a63b8661f10afd098c68aeab
...,...,...,...,...,...
393027,2024-11-25 21:00:04,154.00,TRY,df37ef69adeffbf13245515035211a6a,dedbb3a4a41549a49d00dff275d2fa33
393028,2024-11-25 21:00:02,90000.00,UZS,22fa8e82050c2a448785dad1dc8e56ce,28873fe44be85e056f0f551cbe95e1a8
393029,2024-11-25 21:00:01,8.00,AZN,2916273333ab3ed18d68704248f73ccb,2cb1592a04ec78b2a5e8320d0d9b5de7
393030,2024-11-25 21:00:00,9.00,AZN,d740af44a63e64d3b220cf3dcb5d553c,dc704af94496050774cb55cd53e995f5
393031,2024-11-25 21:00:00,225.00,BRL,a12fb751e8dfe10f6d28449ba56bb7a1,336d5ebc5436534e61d16e63ddfca327

In [35]:
df_providers

,TIME,ID,CONVERSION,AVG_TIME,MIN_SUM,MAX_SUM,LIMIT_MIN,LIMIT_MAX,COMMISSION,CURRENCY
0,2024-11-24 21:00:00,0,0.50,18.0,700.0,5500.0,61000.0,12900000.0,0.035,UZS
1,2024-11-24 21:00:00,1,0.65,8.0,900.0,9000.0,21000.0,18000000.0,0.035,UZS
2,2024-11-24 21:00:00,2,0.50,18.0,400.0,8500.0,51000.0,13400000.0,0.030,RUB
3,2024-11-24 21:00:00,3,0.50,16.0,900.0,6000.0,61000.0,19800000.0,0.045,RUB
4,2024-11-24 21:00:00,4,0.70,26.0,300.0,6500.0,81000.0,23600000.0,0.050,RUB
...,...,...,...,...,...,...,...,...,...,...
932,2024-11-26 21:00:00,26,0.75,16.0,900.0,8000.0,31000.0,20900000.0,0.027,THB
933,2024-11-26 21:00:00,29,0.65,28.0,600.0,9000.0,51000.0,16900000.0,0.040,HKD
934,2024-11-26 21:00:00,29,0.60,14.0,100.0,7000.0,71000.0,38000000.0,0.045,HKD
935,2024-11-26 21:00:00,37,0.75,26.0,300.0,8500.0,61000.0,18600000.0,0.050,PHP
936,2024-11-26 21:00:00,40,0.55,18.0,100.0,4000.0,71000.0,4000000.0,0.030,MYR

In [32]:
df_payments['amount'].describe()

count    3.930320e+05
mean     6.119634e+04
std      7.784193e+05
min      7.000000e-01
25%      4.500000e+02
50%      2.400000e+03
75%      2.160000e+04
max      2.240000e+08
Name: amount, dtype: float64